html {
  background-color: #000000;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #272624;
  padding: 15px 20px 20px 20px;
  border: 5px solid rgb(255, 0, 0);
}

h1 {
  color: #ffffff;
  text-align: center;
}

h2 {
  color: #ffffff;
  text-align: center;
}
p {
  color: #ff1010;
  line-height: 1.6;
}

li {
  color: #0008ff;
  margin-bottom: 8px;
}